#contact-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#contact-wrapper h1 {
    width: 100%;
}

#contact-title {
    display: flex;
    max-width: 80%;
    width: 70%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

#form-container {
    width: 80%;
    height: 80%;
    display: flex;  
    justify-content: center;
}

#contact {
    width: 70%;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
    font-style: none;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px;
}

#contact-form {
    width: 85%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgba(255, 246, 246, 0.25);
}

.form-element{
    border:1px solid #c54e5e;
	border-left: 4px solid #c54e5e;
    width: 70%;
    margin: 5px
}

#send-btn {
    margin: 25px;
    background-color: rgb(80, 80, 80);
    color: rgb(184, 184, 184);
    width: 75px;
    height: 25px
}

#send-btn:hover {
    transition: 0.4s ease-out;
    background-color: white;
}

#send-btn:active {
    background-color: rgb(180, 180, 180);
    transition: none;
}

#msg-area {
    width: 70%;
    margin-top: 5px;
}

@media screen and (max-width: 1080px) {
    #contact-wrapper {
        flex-direction: column;
    }

    #contact-title {
        height: auto;
        margin: 0;
        padding: 25px;
    }
    #form-container {
        padding: 0;
        height: 80%;
        width: 90%;
        padding-bottom: 80px;
        display: flex;
        align-items: center;
    }
    #contact-form{
        height: 80%;
    }
}