 body{
     width: 100vw;
     height: 100vh;
     margin: 0;

    .container{
        width: 100%;
        height: 100%;
        scroll-snap-type: y proximity;
        overflow-y: scroll;
        overflow-x: hidden;



        section{
            flex: none;
            display: flex;
            justify-content: center;
            align-items:start;
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;

            &:nth-of-type(1){
                background-color: #1a0d2b;
                color: lightblue;
            }
            &:nth-of-type(2){
                background-color: #9a73ce;
                color: lightblue;
            }
            &:nth-of-type(3){
                background-color: #8177b9;
                color: lightblue;
            }
            &:nth-of-type(4){
                background-color: #b3ade0;
                color: lightblue;
            }

            div{
                width: 100%;
                align-items: center;
            }
        }
    }



 }

 


 