/* Experience section */


.experience-wrapper{ 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

.work-experience {
    width: 100vh;
    height: 100vh;
}

.work-experience h1{
    width: 100%;
    color: white;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
}

.work-experience h1 span{
    width: 100%;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: none;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

#experience-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

#timeline-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

#timeline {
    height: 70%;
    width: 70%;
    border: 1px black solid;
    background-color: rgba(160, 160, 160, 0.25);
    overflow: hidden;
    overflow-y: scroll;
    padding: 40px;
}

.timeline-text{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #da4281 0%, #d53a4f 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: #dddddd;
    
}

.timeline-text:before {
    content: '';
    position: absolute;
    padding: 10px;
    height: 1.25em;
    width: 2em;
    background-color: #3d3030;
    text-align: center;
    line-height: 1.25em;
    color: #ffffff;
    font-size: 1em;
}

.timeline-text:nth-child(1):before{
    content: '2021';
}
.timeline-text:nth-child(2):before{
    content: '2020';
}
.timeline-text:nth-child(3):before{
    content: '2018';
}
.timeline-text:nth-child(4):before{
    content: '2017';
}
.timeline-text:nth-child(5):before{
    content: '2016';
}

.timeline-text:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

.timeline-text:nth-child(odd):before {
    left: 100%;
    margin-left: -20px;
}

.timeline-text:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}

.timeline-text:nth-child(even):before {
    right: 100%;
    margin-right: -20px;
}

.timeline-text:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.timeline-text:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.timeline-title {
    font-weight: bold;
    font-size: 125%;
}

@media screen and (max-width: 1000px){
    .experience-wrapper{ 
        flex-direction: column;
        height: 100vh;
      }

      #timeline-wrapper {
          width: 100%;
          justify-content: center;
          height: 80%;
          order: 2;
      }

      #experience-desc {
          justify-content: center;
          display: flex;
          width: 100%;
      }
}

